<launch>

<!-- Load Robot -->
<param name="baxter_description" command="$(find xacro)/xacro '$(find baxter_description)/urdf/baxter.urdf.xacro' --inorder" />
<node pkg="tf" type="static_transform_publisher" name="baxter_bc" args="0.0 0.0 0.0 0 0 0.0 1.0 /world /base 100">
  <param name="publish_frequency" value="100" />
</node>

<node name="baxter_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  <param name="publish_frequency" value="100" />
  <remap from="robot_description" to="baxter_description" />
  <remap from="joint_states" to="/baxter/joint_states" />
</node>

<node name="baxter_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
  <param name="publish_frequency" value="100" />
  <remap from="robot_description" to="baxter_description" />
  <remap from="joint_states" to="/baxter/analyze_joint_states" />  <!-- "/baxter/analyze_joint_states" /> -->
</node>

</launch>




